<div class="title-container">
  <h1 class="title">Shelters overview</h1>
  <div class="title-buttons">
    <button mat-raised-button color="primary">Register shelter</button>
    <button mat-raised-button color="accent">Register family</button>
  </div>
</div>
<div class="filter-container">
  <mat-icon
    class="margin-right"
    color="primary"
    aria-hidden="false"
    aria-label="Filter icon"
    >filter_alt</mat-icon
  >
  <span class="margin-right">Filter by</span>
  <form [formGroup]="filterForm">
    <mat-form-field class="margin-right">
      <input
        matInput
        placeholder="Shelter name"
        formControlName="shelterName"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Available places"
        type="number"
        formControlName="availablePlaces"
        min="1"
      />
    </mat-form-field>
  </form>
</div>
<div class="shelters-container" *ngIf="filteredShelters.length > 0; else empty">
  <div *ngFor="let shelter of filteredShelters" class="shelter">
    <app-shelter-card [shelter]="shelter"></app-shelter-card>
  </div>
</div>
<ng-template #empty>
  <h3>Sorry, but there are no shelters found.</h3>
</ng-template>
