.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .title {
    margin-top: 0;
  }

  .title-buttons {
    button:not(:last-of-type) {
      margin-right: 10px;
    }
  }
}

.filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;

  .margin-right {
    margin-right: 10px;
  }
}

.shelters-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -15px;
  padding-bottom: 20px;

  .shelter {
    width: calc(25% - 15px);
    margin-left: 15px;
    margin-top: 15px;
  }
}
