:host {
  table {
    width: 100%;
  }

  .cdk-column-age,
  .cdk-column-gender {
    min-width: 100px;
  }

  .title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .title {
      margin-top: 0;
    }
  }

  input,
  mat-select {
    border: none;
    border-bottom: 1px solid #41586f;
    background-color: #fafafa;
    height: 40px;

    &:active,
    &:hover,
    &:focus,
    &:focus-within,
    &:target {
      outline: none;
    }
  }

  input {
    text-indent: 12px;
  }

  mat-select ::ng-deep .mat-select-trigger {
    height: 100%;

    .mat-select-value {
      vertical-align: middle;
    }

    .mat-select-placeholder,
    .mat-select-value-text {
      margin-left: 12px;
    }
  }
}
