<div class="title-container">
    <h1 class="title">Persons overview</h1>
</div>

<table mat-table
       [dataSource]="dataSource">
    <ng-container matColumnDef="name">
        <th mat-header-cell
            *matHeaderCellDef> First name </th>
        <td mat-cell
            *matCellDef="let person"> {{person.name}} </td>
    </ng-container>
    <ng-container matColumnDef="name-filter">
        <th mat-header-cell
            *matHeaderCellDef>
            <input (change)="filterchanged($event.target.value, 'name')"
                   placeholder="Type in" />
        </th>
    </ng-container>
    <ng-container matColumnDef="surname">
        <th mat-header-cell
            *matHeaderCellDef> Last name </th>
        <td mat-cell
            *matCellDef="let person"> {{person.surname}} </td>
    </ng-container>
    <ng-container matColumnDef="surname-filter">
        <th mat-header-cell
            *matHeaderCellDef>
            <input (change)="filterchanged($event.target.value, 'surname')"
                   placeholder="Type in" />
        </th>
    </ng-container>
    <ng-container matColumnDef="age">
        <th mat-header-cell
            *matHeaderCellDef> Age </th>
        <td mat-cell
            *matCellDef="let person"> {{person.age}} </td>
    </ng-container>
    <ng-container matColumnDef="age-filter">
        <th mat-header-cell
            *matHeaderCellDef>
            <input type="number"
                   min="0"
                   (change)="filterchanged($event.target.value, 'age')"
                   placeholder="Type in" />
        </th>
    </ng-container>
    <ng-container matColumnDef="gender">
        <th mat-header-cell
            *matHeaderCellDef> Gender </th>
        <td mat-cell
            *matCellDef="let person"> {{person.gender}} </td>
    </ng-container>
    <ng-container matColumnDef="gender-filter">
        <th mat-header-cell
            *matHeaderCellDef>
            <mat-select (selectionChange)="filterchanged($event.value, 'gender')"
                        placeholder="Select">
                <mat-option *ngFor="let gender of genders"
                            [value]="gender.value">
                    {{ gender.label }}
                </mat-option>
            </mat-select>
        </th>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row
        *matHeaderRowDef="displayedFilterColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 25, 50]"
               showFirstLastButtons
               aria-label="Select page of periodic elements">
</mat-paginator>