<h2 mat-dialog-title>Register shelter</h2>
<mat-dialog-content>
  <form [formGroup]="registerSheterForm">
    <div class="row">
      <mat-form-field class="margin-right">
        <input
          class="shelter-register-name"
          matInput
          placeholder="Name"
          formControlName="name"
        />
      </mat-form-field>
      <mat-form-field class="margin-right">
        <input
          class="shelter-register-available-places"
          matInput
          type="number"
          placeholder="Available places"
          min="1"
          formControlName="numberOfPlaces"
        />
      </mat-form-field>
      <mat-form-field class="margin-right">
        <input
          id="shelter-register-address"
          matInput
          placeholder="Address"
          formControlName="address"
        />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="margin-right">
        <input
          id="shelter-register-owner-name"
          matInput
          placeholder="Owner"
          formControlName="ownerName"
        />
      </mat-form-field>
      <mat-form-field class="margin-right">
        <input
          class="shelter-register-owner-email"
          matInput
          placeholder="Email"
          type="email"
          formControlName="ownerEmail"
        />
      </mat-form-field>
      <mat-form-field class="margin-right">
        <input
          class="shelter-register-owner-number"
          matInput
          placeholder="Phone number"
          type="tel"
          formControlName="ownerPhone"
        />
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-dialog-close mat-stroked-button color="primary">Cancel</button>
  <button
    class="shelter-register-save"
    mat-dialog-close
    mat-raised-button
    color="primary"
    [disabled]="!registerSheterForm.valid"
    (click)="registerShelter()"
  >
    Save
  </button>
</mat-dialog-actions>
