@import "../node_modules/@angular/material/theming";

$my-typography: mat-typography-config(
  $font-family: "Open Sans",
);

$my-primary: mat-palette($mat-light-blue, 800);
$my-accent: mat-palette($mat-yellow, 600);

$my-theme: mat-light-theme($my-primary, $my-accent);

@include angular-material-theme($my-theme);
@include mat-core($my-typography);
